@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");

.know_us_container {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  
  .know_us_container .explore_wrapper {
    position: absolute;
    padding: 30px;
    /* background-color: #0000005b; */
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  .know_us_container .explore_wrapper .explore_head {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5em;
    color: white;
  }
  
  .know_us_container .explore_wrapper a {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    transition: all 0.3s;
  }
  
  .know_us_container .explore_wrapper a .arrow {
    font-size: 1em;
    margin-left: 5px;
  }
  
  .know_us_container .explore_wrapper:hover a {
    color: #eb3c59;
  }
  
  .mission_container {
    width: 100%;
    height: 46vh;
    background-image: url(../images/about_us/a2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1%;
  }
  
  .mission_container .mission_wrapper {
    padding-left: 20px;
    max-height: 80%;
    width: 80%;
    background-color: #0000005b;
    margin-bottom: 10px;
  }
  
  .mission_container .mission_wrapper .mission_top span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5em;
    color: white;
  }
  
  .mission_container .mission_wrapper .mission_down {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .mission_container .mission_wrapper .mission_down .vline {
    margin-left: 50px;
    width: 10px;
    height: 100px;
    background-color: #eb3c59;
  }
  
  .mission_container .mission_wrapper .mission_down .mission_text {
    margin-left: 25px;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    color: #ffffff;
  }
  

  .supercharging_container {
    width: 100%;
    height: 46vh;
    background-image: url(../images/about_us/a3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1%;
  }
  
  .supercharging_container .supercharging_wrapper {
    padding-left: 20px;
    max-height: 80%;
    width: 80%;
    background-color: #0000005b;
    margin-bottom: 10px;
    
  }
  
  .supercharging_container .supercharging_wrapper .supercharging_top span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5em;
    color: white;
  }
  
  .supercharging_container .supercharging_wrapper .supercharging_down {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .supercharging_container .supercharging_wrapper .supercharging_down .vline {
    margin-left: 50px;
    width: 10px;
    height: 100px;
    background-color: #eb3c59;
  }
  
  .supercharging_container .supercharging_wrapper .supercharging_down .supercharging_text {
    margin-left: 25px;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    color: #ffffff;
  }
  .slider_container {
    width: 90%;
    margin: 20px auto;
    min-height: 200px;
    position: relative;
  }
  
  .slider_container .slider_inner {
    overflow: hidden;
  }
  
  .slider_container .track {
    display: flex;
    transition: all 0.3s;
  }
  .slider_container .card_container {
    width: 259px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
  }
  
  .slider_container .card_container .card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .slider_container .card_container .card .card_img {
    width: 100%;
    height: 80%;
  }
  
  .slider_container .card_container .card .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider_container .card_container .card .card_text {
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider_container .card_container .card span {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #000000;
  }
  
  .control_arrow button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .control_arrow .prev {
    left: -30px;
  }
  
  .control_arrow .next {
    right: -30px;
  }
  .heading-project{
    font-family: "Bebas Neue", sans-serif;
      background: black;
      width: 95%;
      margin-left: 5%;
      height: 5%;
      font-size: 3em;
      color: white;
      font-weight: bolder;
      margin-top: 2%;
    }  

    .container{
      width:90%;
      min-height:315px;
      margin:0 auto;
      position:relative;
      padding-bottom:30px;
      margin-top: 20px ;
    }
    h1{
      font-family: "Bebas Neue", sans-serif;
      background: black;
      width: 95%;
      margin-left: 5%;
      height: 5%;
      font-size: 3em;
      color: white;
      font-weight: bolder;
      margin-top: 2%;
    }
    h2{
      color:#736861; 
      margin:15px 0 5px;
      text-shadow:0 1px rgba(255,255,255,0.5);
    }
    h6{
      color:#928566; 
      margin:0;
    }
    input[type="radio"] {
    position: absolute;
    width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
    height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
    label{
      display:block;
      width:18%;
      border: 4px solid white;
      position:absolute;
      bottom:5px;
      cursor: pointer;
      transition: border-color 0.3s linear;
    }
    
    label.second{
      left:20%;
    }
    label.third{
      left:40%;
    }
    label.fourth{
      left:60%;
    }label.fifth{
      left:80%;
    }
    
    blockquote{
      margin:0;
      padding:30px;
      background-color: #1b838b;
      color:white;
      box-shadow: 0 5px 2px rgba(0,0,0,0.1);
      position:relative;
      transition: background-color 0.6s linear;
    }
    
    blockquote:after { 
      content: " "; 
      height: 0; 
      width: 0; 
      position: absolute; 
      top: 100%; 
      border: solid transparent; 
      border-top-color: #1b838b;
      border-left-color:#1b838b;
      border-width: 10px; 
      left: 10%; 
    } 
    #second:checked ~ .two blockquote {
      background-color:#f9a47b;
    }
    .two blockquote:after{
      border: solid transparent; 
      border-top-color: #f9a47b;
      border-left-color:#f9a47b;
      border-width: 10px;
    }
    #third:checked ~ .three blockquote{
      background-color:#eb3c59;
    }
    .three blockquote:after{
      border: solid transparent; 
      border-top-color: #eb3c59;
      border-left-color: #eb3c59;
      border-width: 10px;
    }
    #fourth:checked ~ .four blockquote{
      background-color:#f15b25;
    }
    .four blockquote:after{
      border: solid transparent; 
      border-top-color: #f15b25;
      border-left-color: #f15b25;
      border-width: 10px;
    }
    #fifth:checked ~ .five blockquote{
      background-color:#99c4b3;
    }
    .five blockquote:after{
      border: solid transparent; 
      border-top-color: #99c4b3;
      border-left-color: #99c4b3;
      border-width: 10px;
    }
    .quotes{
      position:absolute;
      color:rgba(255,255,255,0.5);
      font-size:5em;
    }
    .leftq{
      top:-25px;
      left:5px;
    }
    .rightq{
      bottom:-10px;
      right:5px;
    }
    img{
      float:left;
      margin-right: 20px;
    }
    .slide{
      position:absolute;
      left:-100%;
      opacity:0;
      transition: all 0.6s ease-in;
      width: 100%;
    }
    
    #first:checked ~ label.first {
      border-width:6px;
      border-color:#1b838b;
    }
    #second:checked ~ label.second {
      border-width:6px; border-color:#f9a47b;
    }
    #third:checked ~ label.third {
      border:6px solid #eb3c59;
    }
    #fourth:checked ~ label.fourth {
      border-width:6px;
      border-color:#f15b25;
    }
    #fifth:checked ~ label.fifth {
      border-width:6px; 
      border-color:#99c4b3;
    }
  
    
    #first:checked ~ div.one {
      left:0;
      opacity:1;
    }
    #second:checked ~ div.two {
      left:0;
      opacity:1;
    }
    #third:checked ~ div.three {
      left:0;
      opacity:1;
    }
    #fourth:checked ~ div.four {
      left:0;
      opacity:1;
    }
    #fifth:checked ~ div.five {
      left:0;
      opacity:1;
    }
    
    .cntrl button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #aaa;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .cntrl .bc {
      left: -30px;
    }
    
    .cntrl .fw {
      right: -30px;
    }

  @media screen and (max-width:600px){
    .know_us_container .explore_wrapper {
      left: 0;
    }
    .mission_container{
      margin-top: 45px;
      margin-bottom: 45px;
      align-items: center;
    }
    .mission_container .mission_wrapper{
      width: 90%;
      height: 200px;
    }
    .mission_container .mission_wrapper .mission_top span {
      margin-top: 10px;
      font-size: 2em;
    }
    .mission_container .mission_wrapper .mission_down .mission_text{
      font-size: 1.3em;
    }
    .mission_container .mission_wrapper .mission_down .vline {
      margin-left: 50px;
      width: 10px;
      height: 150px;
      background-color: #eb3c59;
    }
    .ssupercharging_container{
      align-items: center;
    }
    .supercharging_container .supercharging_wrapper{
      width: 90%;
      margin-left: 5%;
      height: 215px;
    }
    .supercharging_container .supercharging_wrapper .supercharging_top span {
      font-size: 2em;
    }
    .supercharging_container .supercharging_wrapper .supercharging_down .supercharging_text{
      font-size: 1.5em;
    }
    .supercharging_container .supercharging_wrapper .supercharging_down .vline {
      margin-left: 50px;
      width: 10px;
      height: 150px;
      background-color: #eb3c59;
    }

    .connect_container .connect_wrapper span {
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      color: white;
    }
    .connect_container .connect_wrapper button {
      margin-left: 25px;
      border: 2px solid;
      border-image: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129)) 1;;
      background-color: black;
      height: 45px;
      width: 140px;
      /* border-radius: 30px; */
      font-family: "Lato", sans-serif;
      color: white;
    }
  }